body {
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header:hover {
    background-color: black;
    color: white;
}

main {
    padding-top: 12vh;
    text-align: center;
    min-height: 100vh;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none; /* Ocultar inicialmente */
    padding: 10px 0;
    font-size: 14px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid green;
}

.logo {
    width: 50px;  /* Ajusta el tamaño según necesites */
    height: auto;
    border: 2px solid black; /* Opcional: para ver el borde */
    padding: 5px;
}

