.container {
    background-color: #FFFFFF; 
    color: #333;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    height: 10vh;
}

.header {
    display: flex;
    justify-content: flex-end; 
    padding: 10px;
    border-bottom: 1px solid #000;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    border-width: 1;
}